*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;

}
header{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    max-width: 100%;
    min-height: 100vh;
    gap: 1em;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: start;
    
}

#root{
    width: 80%;
    height: auto;
   margin: auto;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    min-height: auto;
    flex-wrap: wrap;
    gap: 1em;
}

.card-item{
    flex-basis: 16em;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid rgb(20,20,20); */
}
.subItem{
font-weight: lighter;
margin-bottom: 10px;
}
.card-item>img{
    width: 100%;
    height: 50%;
}
.btn-item{
    border:none !important;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}
#vista-carro{
   
    height: auto;
   
    z-index: 4;
    position: absolute;
    margin: auto !important;
    background: white;
    padding: 25px;
    transition: all 1.9s;
    background: white;
    color: rgb(20,20,20);
    top: -100%;
    transform:rotateX(-360deg);
    width: 40%;
    
    
}
.vista-carro-on{
    width: 34em !important;
    display: flex !important;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 0% !important;
    transition: all 1.5s;
    top: 100px !important;
    border: 3px solid rgb(20,20,20);
    transform: rotateX(360deg) !important;
    padding: 20px;
    
    @media (max-width:600px) {
        width: 26em !important;
    }
    @media (max-width:400px) {
        width: 98% !important;
        
    }
  
}

#items{
    width: 100%;
    height: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#items>#items-desc>span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 10px;
    @media (max-width:400px) {
        
        font-size: 11px !important;
    }
}
#items>#items-desc{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: left;
}
#box-btn-carro{
    margin-left: auto;
    display: flex;
    justify-content: start;
    align-items:center;
}
#box-btn-carro>button{
    margin:0px 10px;
    color: orangered;
    
}

.box-total{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    
    padding: 5px;
    margin-top: 30px !important;
}

.eliminar,.agregar,.restar{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 15px !important;
    @media (max-width:400px) {
        
        font-size: 14px !important;
    }
}
.restar{
    color:red !important;
}
.eliminar{
    color:black !important
}
.agregar{
    color:rgb(40, 158, 40) !important;
}
.link-pagar{
   margin: 20px;
   color: rgb(20,20,20);
   font-size: 40px;
   width: 50px;
}

.btn-salir{
    margin: 20px;
    border: none;
    color: rgb(20,20,20);
    font-size: 40px;
    width: 50px;
    background: transparent;
    cursor: pointer;
}
.borrar-carro{
    margin: 20px;
    border: none;
    color: rgb(20,20,20);
    font-size: 40px;
    width: 50px;
    background: transparent;
    cursor: pointer;
}

.cartIcon{
    width: 100px;
    border: none;
    margin-left: auto !important;
    margin-right: 30px;
    cursor: pointer;
    background: transparent;
    font-size: 26px;
}


#total-carro{
    width: 100px !important;
    margin-left: auto;
   
    font-weight: bold;
    font-size: 22px;
}