*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
   
}
header{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    max-width: 100%;
    min-height: 100vh;
    gap: 1em;
    flex-wrap: wrap;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#root{
    flex-basis: 52em;
    height: auto;
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 52em;
    min-height: auto;
    flex-wrap: wrap;
    gap: 1em;
}

.card-item{
    flex-basis: 14em;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-item>img{
    width: 100%;
    height: 50%;
}
#vista-carro{
    width: 60%;
    height: auto;
    border: 2px solid red;
    z-index: 4;
    position: absolute;
    margin: auto !important;
    background: white;
    padding: 25px;
    display: none;
}
.vista-carro-on{
    display: flex !important;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#items{
    width: 100%;
    height: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#items>#items-desc>span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
#items>#items-desc{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: left;
}
#box-btn-carro{
    margin-left: auto;
    display: flex;
    justify-content: start;
    align-items:center;
}
#box-btn-carro>button{
    margin:0px 10px;
    
}

#box-total{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: left;
    flex-direction: row;
    padding: 5px;
}
